* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Avenir Next', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    font-size: 16px;
}

h4 {
    font-weight: 500;
}

//ASIDE + NAV

aside {
    width: 30vw;
    height: 100vh;
    background-color: #FFF;
    border-right: 1px solid #EFEFEF;
    display: flex;
    flex-flow: column;
    align-items: flex-end;

    &>header {
        background-color: #FCFCFC;
        justify-content: right;
        position: relative;

        &::after {
            content: '';
            width: 6px;
            height: 6px;
            border-radius: 6px;
            background-color: #e2e2e2;
            position: absolute;
            bottom: 0 - 3.5px;
            right: 0 - 3.5px;
        }
    }
}

nav {
    padding-top: 45px;
}

#nav-pages,
#nav-counts {
    display: flex;
    justify-content: right;
}

ul.nav {
    list-style: none;
    width: 90px;

    &.counts,
    &.tags {
        display: flex;
        flex-flow: column;
        align-items: flex-end;
    }
}

ul.nav>li {
    padding-bottom: 20px;
    padding-right: 20px;

    &.selected {
        font-weight: 600;
    }

    &.critical {
        color: #FF0000;
    }
}

#nav-counts {
    display: flex;
    justify-content: right;
    font-family: 'Charter', sans-serif;
    color: #b1b1b1;
}

#nav-tags,
#nav-edit-tags {
    padding-top: 15px;
    display: flex;
    justify-content: right;

    &>a {
        padding-right: 20px;
        text-decoration: none;
        font-style: italic;
        font-size: 12px;
        color: #4C4C4C;
    }
}

#nav-edit-tags {
    padding-top: 0;
}

// HEADER

header {
    width: 100%;
    height: 80px;
    background-color: #FFF;
    border-bottom: 1px solid #EFEFEF;
    display: flex;
    align-items: center;
}

#logo {
    width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5px;

    & span {
        font-family: 'Charter', sans-serif;
        font-size: 40px;
        font-weight: 600;
    }

    & button {
        flex-grow: 0;
    }
}

#header-wrapper {
    padding: 0 45px;
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#welcome-message {
    display: flex;
    align-items: center;
}

.welcome-user-message {
    font-size: 14px;

    & .user-name {
        font-weight: 600;
    }
}

img.user-avatar {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    flex-shrink: 0;
    opacity: .8;
    cursor: pointer;

    &:hover {
        opacity: 1;
    }
}

#expand-menu {
    display: none;
    background-image: url(./dist/pics/menu-expand.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    background-size: 20px 20px;
    background-position: center;
    width: 45px;
    height: 45px;
    cursor: pointer;
    border-radius: 45px;

    &:hover {
        border: 1px solid #efefef;
        background-color: #f8f8f8;
    }
}

#collapse-menu {
    display: none;
    background-image: url(./dist/pics/menu-collapse.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    background-size: 20px 20px;
    background-position: center;
    width: 45px;
    height: 45px;
    cursor: pointer;
    border-radius: 45px;

    &:hover {
        border: 1px solid #efefef;
        background-color: #f8f8f8;
    }
}

// DASHBOARD BODY

article {
    width: 70vw;
    height: 100vh;
    background-color: #FCFCFC;
    transition: 0.1s ease-in;

    &.darken {
        filter: brightness(0.95);
    }
}

@task-bg: #fff;
@border: #EFEFEF;
@critical: #FF0000;
@light-grey: #939393;

#dashboardContainer {
    padding: 45px 45px;
    min-width: min(80%, 700px);
    max-width: 800px;
    background-color: #FCFCFC;
    overflow: hidden;
}

#dashboardHeader {
    display: flex;
    align-items: center;
    gap: 5px;
    height: fit-content;
}

.taskListHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
}

button.sort {
    width: 45px;
    height: 45px;
    background-color: transparent;
    border: none;
    border-radius: 45px;
    background-image: url('./sort.svg');
    background-repeat: no-repeat;
    background-size: 22px 22px;
    background-position: center;
    cursor: pointer;

    &:hover {
        background-color: white;
        border: 1px solid #efefef;
    }
}

ul.taskList {
    max-width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    font-size: .8rem;
    cursor: pointer;

    & div {
        display: flex;
        align-items: center;
        gap: 6px;
        
    }

    & li {
        max-width: 100%;
        height: 32px;
        margin-bottom: 10px;
        background-color: @task-bg;
        border: 1px solid @border;
        border-radius: 8px;
        display: flex;
        align-items: center;
        padding-right: 10px;
        justify-content: space-between;
        

        &.completed {
            opacity: 35%;
            filter: grayscale(100%);
        }

        & .task-tags {
            min-width: fit-content;
            max-width: 30%;
            overflow: none;
        }

        & .task-content {
            

            & .task-title,
            & .task-due + .visible {
                background-color: transparent;
                border: none;
                cursor: pointer;
            }
        }

        & .collapse-task {
            width: 13px;
            height: 13px;
            position: absolute;
            visibility: hidden;
            pointer-events: none;
        }

        & .task-status-label {
            cursor: pointer;
            position: relative;
            display: flex;
            padding: 1em;
            border: 1px solid transparent;
            border-radius: 100%;

            &:hover {
                background-color: #fbfbfb;
                border-color: #efefef;
            }

            & .task-status {
                cursor: pointer;
            }

        }

        &.animateCompletion {
            animation-name: completeTask;
            animation-duration: .8s;
            animation-fill-mode: forwards;
        }

    }

    & .critical-task {
        background-color: fade(@critical, 7%)
    }

    & .after-title-bullet {
        font-size: 30px;
    }

    li.expanded-task {
        flex-flow: column;
        animation-name: expandTask;
        animation-duration: .4s;
        animation-fill-mode: forwards;
        align-items: flex-start;
        padding: 8px 30px;
        cursor: auto;
        position: relative;
        
        & div {
            gap: 0;
        }
        
       
        & .task-content {
            flex-flow: column;
            align-items: flex-start;
            padding-left: 1em;
            max-width: 100%;

            & .task-status,
            & .after-title-bullet,
            & .task-status-label {
                position: absolute;
                visibility: hidden;
            }

            & .task-title {
                max-width: 100%;
                padding: 5px 5px;
                font-weight: 600;
                border: 1px solid #00000020;
                border-radius: 5px;
                cursor: text;
            }

            & .collapse-task {
                width: 15px;
                height: 15px;
                position: absolute;
                left: 10px;
                top: 10px;
                visibility: visible;
                padding: 1em;
                background-color: transparent;
                border: none;
                border-radius: 100%;
                background-image: url(./dist/pics/tick.svg);
                background-size: 100% 100%;
                background-repeat: no-repeat;
                cursor: pointer;
                filter: opacity(50%);
                pointer-events: auto;
                &:hover {
                   filter: opacity(90%);
                }
            }
        }
    }

    & .task-tag {
        position: relative;
        justify-self: flex-end;
        padding: 0;

        &::before {
            content: '#';
            color: @light-grey;
            position: relative;
            font-weight: 200;
        }
    }

    & .task-tag.critical {
        color: @critical;
    }

    & .task-edit {
        width: 100px;
        display: flex;
        justify-content: right;
    }
}

.task-title.completed {
    text-decoration: line-through;
}

/*
** ACTION BUTTON
*/

@light-blue: #E1ECF4;
@medium-blue: #c8e3f5;
@dark-blue: #79A7C7;
@button-text: #39739D;

button.action {
    margin-top: 15px;
    background-color: @light-blue;
    border: 1px solid @dark-blue;
    color: @button-text;
    border-radius: 4px;
    padding: .3rem .8rem;
    position: relative;
    overflow: hidden;
    z-index: 2;
    cursor: pointer;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #fff;
    }

    &:hover {
        background-color: @medium-blue;
    }

}

// ASIDE + NAV MEDIA QUERIES

@media (max-width: 900px) {
    aside {
        width: 220px;
        position: absolute;
        left: 0;
        transform: translateX(-220px);
        transition: 0.1s ease-in;
        z-index: 3;

        &.expand {
            transform: translateX(0);
        }
    }

    article {
        min-width: 100%;
        max-width: 100%;
    }

    #dashboardContainer,
    #header-wrapper {
        padding: 0 15px;
        min-width: 100%;
        max-width: 100%;
    }

    #dashboardContainer {
        padding-top: 25px;
    }

    #expand-menu {
        display: block;
    }

    #collapse-menu {
        display: block;
    }

}

// on mobile screens
@media (max-width: 450px) {
    
    .task-tags {
        display: none;
    }
    .task-content {
        max-width: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        position: relative;
    }
    .after-title-bullet {
        display: none;
    }

    .task-due.visible {
        position: absolute;
        right: 10px;
    }
}

// ANIMATION

@keyframes completeTask {
    25% {
        transform: translateX(-5px);
    }

    80% {
        height: 32px;
        border: 1;
        margin-bottom: 10px;
    }

    100% {
        margin: 0;
        height: 0;
        display: none;
        transform: translateX(150vw);
        border: 0;
    }
}
@keyframes expandTask {
    0% {
        height: 32px;
    }

    90% {
        height: 85px;
    }

    100% {
        height: auto;
    }
}
